#tamanho-ideal{
    font-size: 65px;
    color: orange;
    }
    
    body{
    background-color: rgb(255, 400, 200);
    }
    
    ul{
    background-color: aquamarine;
    }
    
    .found-style{
    background-color: burlywood;
    }
    