#tamanho-ideal{
    font-size: 65px;
    color: orange;
    }
    
    body{
    background-color: rgb(255, 400, 200);
    font-size: 16px;
    }
    
    ul{
    background-color: aquamarine;
    }
    
    .found-style{
    background-color: burlywood;
    }
    
    h1{
        font-family: sans-serif;
    }

    p{
        font-weight: 600;
        font-size: 3em;
    }